#menu, #menu ul, #menu li, #menu a {
    color: #000;
}
#menu li>ul, .sidebar-left-mini #menu li>ul {
    background-color: #f2f2f2;
}
.head .main-bar h3{
    color: #000;
}
.head .search-bar{
    height: 52px;
    width: 250px;
}
.user-media .media-body ul.user-info li{
    color: #000;
}
.user-info li a{
    color: #000;
}
.outer {
    background-color: none;
    padding: 0;
}
/*<!--菜单栏右边线-->*/
#left {
    border-right: 1px solid #f2f2f2;
    height: auto;
    min-height: 500px;
}
th.whitecustumer{
    background-color: #fff;
}
.inner {
    min-height: 500px;
}